.image-preview__image {
  background-color: transparent;
  filter: drop-shadow(0 0 5px $translucent-black);
  max-height: 300px;
  max-width: 300px;
  object-fit: contain;
  overflow: hidden;
}

.confirm {
  max-width: 550px;
  padding: 40px 40px 30px;
  width: 100%;

  &__message {
    font-size: 18px;
    line-height: 1.3em;
    margin-bottom: 20px;
    text-align: center;
  }

  .actions-container {
    justify-content: center;
  }

  .action {
    height: 40px;
    min-width: 150px;
  }
}

.tooltip {
  align-items: center;
  background-color: $white;
  border: 1px solid $mediumgray;
  border-radius: 3px;
  color: $black;
  display: flex;
  font-size: 14px;
  justify-content: center;
  max-width: 250px;
  min-width: 50px;
  opacity: 1;
  padding: 5px 10px;
  pointer-events: none;
  text-align: center;
  user-select: none;
  z-index: 10000;

  span {
    padding: 10px;
  }
}
