.image-preview {
  position: relative;

  &__image-container {
    left: 30px;
    max-height: 250px;
    opacity: 1;
    position: absolute;
    width: 250px;
    z-index: 100;
  }

  &__image {
    filter: drop-shadow(3px 3px 20px $translucent-black);
    max-height: 250px;
    max-width: 250px;
    object-fit: contain;
    overflow: hidden;
  }
}

.confirm {
  max-width: 600px;
  padding: 40px 40px 20px;
  width: 100%;

  &__message {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
  }

  .actions-container {
    justify-content: center;
  }

  .action {
    min-width: 150px;
  }
}
