.image-preview {
  position: relative;

  &__image-container {
    left: 30px;
    max-height: 250px;
    opacity: 1;
    position: absolute;
    width: 250px;
    z-index: 100;
  }

  &__image {
    filter: drop-shadow(3px 3px 20px $translucent-black);
    max-height: 250px;
    max-width: 250px;
    object-fit: contain;
    overflow: hidden;
  }
}
