.modal {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  &__content {
    background-color: $white;
    border: 1px solid $black;
    border-radius: 5px;
    filter: drop-shadow(3px 3px 50px $translucent-black);
    margin: auto;
    max-height: 90vh;
    max-width: 90vw;
    //width: 100%;
    z-index: 1;

    & > div {
      max-height: 89vh;
    }
  }

  &__background {
    background-color: $black;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}
