.navigation {
  background: $darkergray;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  user-select: none;
  width: 150px;

  &__link {
    align-items: center;
    color: $white;
    cursor: pointer;
    display: flex;
    height: 40px;
    padding: 0 20px;

    &-back {
      background-color: $darkergray;
    }

    &.active {
      background-color: $blue;
    }
  }

  &__logo-container {
    padding: 10px 20px 30px;
  }

  &__logo {
    * {
      fill: $white;
      stroke: $white;
    }
  }

  &-sub {
    background: $darkgray;
    border-left: 1px solid $darkergray;
  }
}

.navigation-list {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  user-select: none;
  width: 100%;

  &__link {
    border-left: 3px solid transparent;
    cursor: pointer;
    padding: 20px;

    &:hover {
      border-left: 3px solid lighten($blue, 20%);
    }
  }
}
