$white: #fff;
$black: #000;
$lightestgray: #f9f9f9;
$lightergray: #f3f3f3;
$lightgray: #eee;
$mediumgray: #ccc;
$gray: #888;
$darkgray: #555;
$darkergray: #333;
$darkestgray: #151515;

$translucent-black: rgba($black, 0.5);

$blue: #2e69c6;
$gold: #ffc010;
$red: #f00;

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
